@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  margin: 0;
  font-family:'Montserrat', sans-serif;
  background-color: #13444d;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

main {
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 19px;
}

.Div-Main, .Span-Main, .Span-Second-Main, .Span-Third-Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
  text-align: center;
}

.strong {
   color: #61DBFB
}


@media (min-width: 100px) and (max-width: 424px) {

  body { 
    font-size: 14px;
  }

  main {
    font-size: 16px;
    padding: 10px;
  }

}
@media (min-width: 425px) and (max-width: 768px) {

  body { 
    font-size: 16px;
  }

  main {
    font-size: 18px;
    padding: 15px;
  }

}