body {
  margin: 0;
  font-family: sans-serif;
  background-color: #13444d;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

main {
  color: #ffa02e;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 19px;
}

.Div-Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

@media (min-width: 100px) and (max-width: 424px) {

  body { 
    font-size: 14px;
  }

  main {
    font-size: 16px;
    padding: 10px;
  }


}

@media